
/* css */
h1 {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 65px;
    text-align: center;
    color: black;
}

.heading{
    margin-right: 50px; 
    margin-left: 50px;
    border-width: thin;
}

.text{
    font-family: 'Times New Roman', Times, serif;
}

.img{
    height: auto;
    width: 100%;
}

.col-12{
    padding:10px;
}

.border-top{
    border-top: solid;
    padding-top: 5px;
}

.order-1{
    order: 1!important;
}

.order-2{
    order: 2!important;
}